<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mopub_flutter">
    <application android:networkSecurityConfig="@xml/network_security_config">
    </application>
    <meta-data android:name="flutterEmbedding" android:value="2"/>
</manifest>
